
<div class="header ">
    <!--Content before waves-->
    <div class="inner-header flex">
    
   <div class="row">
    <div class="col-lg-12">
        <h1 style="color: rgb(173, 230, 185); " class="fw-bold  font-fam animate__animated wow animate__fadeInDownBig">FOREST UMBRELLA</h1>
        <h3 style="color: rgb(173, 230, 185); " class="fw-bold  font-fam animate__animated wow animate__fadeInDownBig">"READY FOR PAYROLL"</h3>
        <div class="my-5"> <button class="font-fam btn btn-sm  px-4 py-2 rounded top-two-button" routerLink="/contact" fragment="contact"><i class=" mx-2 bi bi-telephone"></i>Contact Us</button>
            <button class="font-fam btn-sm btn px-5 py-2 rounded mx-2 top-two-button" [routerLink]="['/service']">Services</button></div>
        
    </div>
   </div>

    </div>

    <!--Waves Container-->
    <div>
    <svg class="waves"  
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    </div>
    
    <!-- who are forest0umbrella -->
<!-- <section class="mt-5">
    <div class="container mt-5">
        <div class="row ">
           <div class="col-md-12  text-center">
            <h4>Who are Forest Umbrella</h4>
           </div> 
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">PAYE UMBR</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section> -->
<div class="mt-5 bg-dark">
    <div class="mt-5 py-5 container-fluid facts ms-auto py-5  pt-lg-0  b">
        <div class="container  mx-auto py-5 pt-lg-0">
            <div class="row">
                <div class=" my-3 col-md-12 animate__animated wow animate__fadeInDownBig text-center">
                    <h4 class="text-white font-fam">Who are Forest Umbrella</h4>
                </div>
            </div>
            <div class="row  gx-5 gy-3  animate__animated animate__backInRight  wow">
                <div class="col-lg-4 p-2  ">
                    <div class=" shadow d-flex align-items-center rounded-start justify-content-center p-4 factscolor"
                        style="height: 150px;">
                        <div class=" d-flex align-items-center justify-content-center rounded mb-2"
                            style="width: 60px; height: 60px;">
                            <i  id="icons"  id="icons" class="fas fa-umbrella text-white display-5"></i>
                        </div>
                        <div class="ps-4">
                            <!-- <h5 class="text-white mb-0"> </h5> -->
                            <p class="text-white mb-0" >Forest Umbrella Limited began by offering excellent payroll services to our customers, and as our company grew, so did our ambitions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  animate__animated animate__backInDown wow p-2  ">
                    <div class=" shadow d-flex align-items-center justify-content-center p-4 factscolor" style="height: 150px;">
                        <div class=" d-flex align-items-center justify-content-center rounded mb-2"
                            style="width: 60px; height: 60px;">
                            <i  id="icons" class="fas fa-handshake text-white display-5"></i>
                        </div>
                        <div class="ps-4">
                            <!-- <h5 class="text-white mb-0"></h5> -->
                            <p class="text-white mb-0" >We are a leading provider of payroll services in the United Kingdom. Our clients hail from all over the world, and we believe our services are extraordinary.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-2  ">
                    <div class=" shadow d-flex align-items-center justify-content-center p-4 factscolor" style="height: 150px;">
                        <div class=" d-flex align-items-center justify-content-center rounded mb-2"
                            style="width: 60px; height: 60px;">
                            <i  id="icons" class="fas fa-coins text-white display-5"></i>
                        </div>
                        <div class="ps-4">
                            <!-- <h5 class="text-white mb-0">Forest Umbrella </h5> -->
                            <p class="text-white mb-0" >We offer expert payroll services to our customers whether they are sole trader or multinational corporations.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="mx-5 mt-3 col-md-12 ">
                    <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
                </div>
            </div>
        </div>
        
    </div> 
    
</div>
    <!-- who are forest0umbrella end -->


    <!-- why choose us  -->
    <div class="b py-3">
    <div class="container mt-5">
        <div class="row">
            <div class="co-md-12 text-center py-5 animate__animated wow animate__fadeInDownBig">
                <h4>WHY CHOOSE US </h4>
            </div>
        </div>
        <div class="row gx-5 gy-5 ">
            <div class="col-lg-4">
                <div class="card1 h-100 animate__animated wow animate__fadeInDownBig card">
                    <div class="card-body py-5 p-5">
                        <div class="text-center card-text">
                            <h4><i  id="icons" class="icon fas fa-crown fs-1" ></i></h4>    
                        </div>
                        <div class="card-title text-center">
                            <h4 class="py-2">HMRC Compliant</h4>
                        </div>
                        <div class="card-text text-center">
                            <p>
                                We are HMRC compliant as a company, and our expert employees can work with your company to ensure that you are as well. Making certain that you do not receive any penalties or fines.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card1 h-100 card animate__animated wow animate__fadeInDownBig">
                    <div class="card-body py-5 p-5">
                        <div class="text-center card-text">
                            <h4><i  id="icons" class="bi bi-person icon fs-1"></i></h4>    
                        </div>
                        <div class="card-title text-center">
                            <h4>Friendly And Reliable</h4>
                        </div>
                        <div class="card-text text-center">
                            <p class="py-2">
                                We appreciate our customers and their businesses. As a result, you will find our team approachable and dependable as they work to protect and grow your company as if it were their own.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card1 card  animate__animated wow animate__fadeInDownBig">
                    <div class="card-body py-5 p-5">
                        <div class="text-center card-text">
                            <h4><i  id="icons" class="fas fa-handshake icon fs-1"></i></h4>   
                        </div>
                        <div class="card-title text-center">
                            <h4 class="py-2">Affordable and Competitve</h4>
                        </div>
                        <div class="card-text text-center">
                            <p>
                                We consider it our responsibility to save you and your company as much money as possible. As a result, our fees are reasonable and competitive; otherwise, what would be the point?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- why choose us end -->

    <!-- our core beleifs  -->
    <div class="b py-5 mt-5">
        <div class="container text-center">
            <div class="row ">
                <div class="col-md-12 py-5 animate__animated wow animate__fadeInDownBig">
                    <h4>OUR CORE BELIEFES</h4>
                </div>
            </div>
          <div class="row  gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card h-100 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                            <p class="  fs-4 text-start p-5 ">Excellence is the limitless capacity to raise the calibre of what you provide.</p>        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100 bg-color animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="p-5 text-white">We will work relentlessly with you to identify ways to save you money, support the growth of your business, and assure your financial success since, like us, you live and breathe your business.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="fas fa-medal icon"></i></h4>
                        </div>
                        <div class="card-title">
                            <h4>Excellence</h4>
                        </div>
                        <div class="card-text">
                            <p class="p-4">We strive for excellence in everything we do, so we will work with you to ensure you and your business reach their full potential. Our employees will use their experience and know-how to assist you in meeting your financial objectives.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="row mt-5 gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card h-100 card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                         <h4><i  id="icons" class="bi bi-clock-history icon"></i></h4>   
                        </div>
                        <div class="card-title">
                            <h4>Reliability</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">Our knowledgeable employees and legal teams have years of experience in their respective fields. This means that we can guarantee that they will complete the task while saving you a significant amount of money. You can rely on us.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                            <h4><i  id="icons" class="fas fa-pound-sign icon"></i></h4>
                        </div>
                        <div class="card-title">
                            <h4>Affordability</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">At the end of the day, it comes down to money; we seek out ways to save you money while remaining financially viable. What would be the point otherwise? You can be confident that you will always be charged a reasonable fee for the expert work that we perform.</p>
                        </div>
                </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="fas fa-handshake icon"></i></h4>       

                        </div>
                        <div class="card-title">
                            <h4>Commitment</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">We are committed to assisting our clients in growing, and by assisting you in growing, we can grow as well. We will collaborate closely with you to meet your company's needs, bringing expertise and initiative to ensure your financial success.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="mx-5 mt-3 col-md-12 ">
                <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
            </div>
            
        </div>
        </div>
    </div>
    <!-- our core beleifs end  -->

    <!-- our services  -->
<div class="b py-5 mt-5 ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h4 class="animate__animated wow animate__fadeInDownBig">Our Services</h4>
            </div>
        </div>
        <div class="row mt-5 gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card  card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="bi bi-people-fill icon "></i></h4>    
                        </div>
                        <div class="card-title">
                            <h4>Fully Managed Payroll</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">Payroll services that are fully managed can save you time and money by ensuring that HMRC and your employees are paid correctly and on time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 h-100 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="bi bi-telephone-inbound icon" ></i></h4>    
                        </div>
                        <div class="card-title">
                            <h4>Direct Access</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">You will be given a direct line to contact our payroll experts, allowing you to monitor the process and stay on top of it.</p>
                        </div>
                </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100 card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="bi bi-people icon "></i></h4>      

                        </div>
                        <div class="card-title">
                            <h4>Human Resource </h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">All businesses will require the assistance of dedicated Human Resources experts at some point, and our professionals are here to help.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
    <!-- our services  end --> 


    <!-- faq -->
    <!-- faq  -->
 <section class="faq">
    <div class="container my-5 py-5">
        <div class="row py-5 animate__animated wow animate__fadeInDownBig">
            <h1 style="color: rgb(173, 230, 185);"class="text-center ">FAQ</h1>
            <h4 style="color: rgb(173, 230, 185);" class="fw-bold faq-h4  text-center">General Questions</h4>
            <p style="color: rgb(173, 230, 185);"class="faq-p mt-4 fs-3">  Frequently Asked Questions to help you  make your decision towards hassle free
                payroll.</p>


            <section id="info-utile" class=" bg-dark py-5" >
                <div class="container">
                    <h4 style="color: rgb(173, 230, 185);"class="text-center text-uppercase mb-5 lead-h-text ">Clear Your Mind About us </h4>

                  <div class="row  animate__animated wow animate__fadeInDownBig">
                    <div class="col-md-6">
                        <div class="accordion" id="accordionExample">

                            <div class="accordion-item">
                                <h2 class="accordion-header" >
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What is an Umbrella Company?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"  aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        An Umbrella Company is a business that hires contractors on a temporary basis for a recruitment firm. It is typically the preferred option for first-time contractors or those who do not wish to bear the burdens of having their own business.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What is IR35?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>HMRC introduced IR35, or "Intermediaries Legislation," in 2000 as tax legislation specifically designed to combat tax avoidance by workers supplying services to clients through an intermediary, such as a limited company, and used to assess whether a contractor is a genuine contractor rather than a "disguised" employee for the purposes of paying tax.</p>
                                        <p>
                                        Genuine contractors, freelancers, or consultants have nothing to fear from IR35 regulations and are free to take use of the benefits of using an intermediary firm. Employees who work 'outside IR35' can get money in the form of dividends from their limited enterprises.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How do I get started?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Contact us or fill out a registration form. We will gather your information, and once we have it, we will call you and explain the next steps.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 animate__animated wow animate__fadeInDownBig">
                        <div class="accordion" id="accordionExample">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        What are the common tax codes?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                       <p> 
                                        <b>1257L</b>- This is the current basic tax code for this tax year; you have a total allowance of £12,570 between April 2021 and April 2022.</p>
                                        <p><b>0T</b> - Because you did not send a P45 or complete a P46 prior to your first payment, you do not have any tax allowances. It could also signify that HMRC has depleted or reduced your allowances to zero.</p>
                                        <p>
                                         <b>BR</b> - You have a second job/pension. Your entire income will be taxed at 20%. If you do not have a second employment or a pension, you should contact HMRC to make the necessary changes.</p>
                                         <p><b>D0 </b>
                                            - You hold a second job/pension and pay a higher tax rate. Your entire income will be taxed at 40%. If you do not have a second employment or a pension, you should contact HMRC to make the necessary changes.
                                        </p>
                                        <p><b>D1</b>
                                            - You have a second job/pension and pay additional taxes. Your entire income will be taxed at 45%. If you do not have a second employment or a pension, you should contact HMRC to make the necessary changes.
                                        </p>
                                        <p><b>NT</b>
                                             - You are not eligible for any tax breaks (0%).
                                        </p>
                                        <p> 
                                            <b>Emergency Codes</b>
                                            - Week 1 or Month 1 emergency codes evaluate each week or month separately and pay you an equal amount of tax-free wages each tax week or month. This means that your previous tax history for the tax year is not taken into account in your weekly or monthly tax calculation.
                                        </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        What if i decide to leave my role?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <p>
                                        Contact us to notify us of the changes; once we have finalised this, we will issue a P45 to your new employer, indicating that your employment with us has terminated.
                                      </p>
                                    
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        I am a first time contractor, why should I use an umbrella company?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Umbrella companies assist first-time contractors by handling payroll, tax deductions, and documentation so you don't have to, and ensuring you are paid on time frame each month.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
            </section>
        </div>
    </div>
</section> 

    <!-- faq end -->


<!-- form  -->

<!-- <div class="container">
    <section class="m-5">
        <div class="row">
            <div class="formCol-1 section-border col-md-6 animate__animated wow animate__fadeInDownBig">
                <h5 class="mx-3  mt-4" id="icons">Conatact Us</h5>
                <p class="mt-3 mx-3 " id="icons">To start your journey towards hassle-free payroll, call to speak to a consultant or register to receive a callback.</p>
     <div class="d-flex justify-content-center">
        <button class="btn  bg-light btn-text rounded-pill"> <i  id="icons" class="bi bi-telephone-fill"></i>   0300 328423</button>
        <button class="btn  mx-2 bg-light btn-text rounded-pill" [routerLink]="['/contact']"><i  id="icons" class="bi bi-calendar3"></i>    Register here </button>
     </div>
             <p class="mt-5 py-5 text-center" id="icons">If you have another query please feel free to fill in our contact form.</p>
            </div>
  
  <div class=" formCol-2 col-md-6 animate__animated wow animate__fadeInDownBig">
    <div class="row">
        <div class="col-md-6 py-3">
            <div class="mb-3">
                <label for="" class="form-label">First Name </label>
                <input type="email" class="form-control rounded-pill "  name="" id="" aria-describedby="emailHelpId" placeholder="First Name">
              </div>
        </div>
        <div class="col-md-6 py-3">
            <div class="mb-3">
                <label for="" class="form-label">Last Name </label>
                <input type="email" class="form-control rounded-pill " name="" id="" aria-describedby="emailHelpId" placeholder="Last Name ">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="mb-3">
                <label for="" class="form-label">Email*</label>
                <input type="email" class="form-control rounded" name="" id="" aria-describedby="emailHelpId" placeholder="Email Address">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-2 col-md-12">
            <div class="mb-3">
                <label for="" class="form-label">Subject*</label>
                <input type="email" class="form-control rounded " name="" id="" aria-describedby="emailHelpId" placeholder="Subject">
              </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
      <div class="mb-3">
        <label for="" class="form-label">Message*</label>
        <textarea class="form-control rounded" name="" id="" rows="3"></textarea>
      </div>
        </div>
    </div>
  
    <button class="btn  my-3  text-white btn-submit">Submit Form </button>
    
  
  
  </div>
  
  
        </div>
    </section>
   </div> -->
<!-- form   -->

<!-- form  end -->





<section class="contact" id="form" >
    <div class="contact-box" >
      <div class="contact-links">
        <h2 class="font-fam">CONTACT</h2>
        <div class="links text-white">
          <div  class=" link">
            <a class="text-white"><i class="bi  fs-4 bi-linkedin"></i></a>
          </div>
          <div class="link">
            <a class="text-white"><i class="bi bi-facebook fs-4"></i></a>
          </div>
          <div class="link">
            <a href="https://twitter.com/umbrella_forest?s=11&t=t2zLE28WfP69zchx9i5Q8w" class="text-white" target="_blank"><i class="bi bi-twitter fs-4"></i></a>
          </div>
          <div class="link">
            <a class="text-white" href=" https://instagram.com/forestumbrella?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram fs-4"></i></a>
          </div>
        </div>
      </div>
      <div class="contact-form-wrapper">
        <form>
          <div class="form-item">
            <input type="text" name="sender" required>
            <label>Name:</label>
          </div>
          <div class="form-item">
            <input type="text" name="email" required>
            <label>Email:</label>
          </div>
          <div class="form-item">
            <textarea class="" name="message" required></textarea>
            <label>Message:</label>
          </div>
          <button class="submit-btn">Send</button>  
        </form>
      </div>
    </div>
  </section>