

<!-- MANAGED AND OUTSOURECED PAYROLL -->
<div class="mt-5 b py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate__animated wow animate__fadeInRightBig ">
<img src="../../../../assets/servicess.jpg" class="img-fluid" alt="">
            </div>
            <div class= " animate__animated wow animate__fadeInLeftBig col-md-6 payroll-merge-service">
                <h4 class="p-3" >Managed & Outsourced Payroll</h4>
                <div class="mx-3 ">
                <span class="px-1 py-1 text-success span-payroll border border-2 border-success ">TRUSTED</span>
                <span class="px-1 mx-4 py-1 text-success span-payroll border border-2 border-success ">COMPLAINT</span>
                <span class="px-1 py-1 text-success span-payroll border border-2 border-success ">AFFORDABLE </span>
                </div>
                <div class="mt-4">
                    <p >Outsourcing your payroll, regardless of the size of your business, can save you time and money.
                        </p>
                        <p>Our payroll specialists are fully HMRC compliant and can ensure that your income tax, national insurance and employees are paid in full and on time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MANAGED AND OUTSOURECED PAYROLL END  -->

<!-- our services  -->
<div class="b py-5 mt-5 ">
    <div class="container text-center">
        <div class="row">
            <div class="animate__animated wow animate__fadeInDownBig col-md-12">
                <h4>Our Services</h4>
            </div>
        </div>
        <div class="row mt-3 gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                           <h4><i  id="icons" class="bi bi-people-fill icon "></i></h4> 
                        </div>
                        <div class="card-title">
                            <h4>Fully Managed Payroll</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">You will receive a direct line to contact our payroll experts, giving you oversight and keeping you on top of the process.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 p-5 h-100 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="bi bi-telephone-inbound icon" ></i></h4>    
                        </div>
                        <div class="card-title">
                            <h4>Direct Access</h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">You will receive a direct line to contact our payroll experts, giving you oversight and keeping you on top of the process.</p>
                        </div>
                </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class="card-text">
                        <h4><i  id="icons" class="bi bi-people icon "></i></h4>      

                        </div>
                        <div class="card-title">
                            <h4>Human Resource </h4>
                        </div>
                        <div class="card-text">
                            <p class="py-4">All companies at some point will need support of dedicated Human Resources experts, our professionals are on hand to support you.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="mx-5 mt-3 col-md-12 ">
                <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
            </div>
        </div>
    </div>
</div>
<!-- our services  end  -->


<!-- icons wla shahskey  -->
<section class="icons-color-bg b">
    <div class="container text-center ">
        <div class="row l  align-items-center" >
            <div class="col-lg-4 animate__animated wow animate__fadeInDownBig">
                <h4> <i  id="icons" class="icon fas fa-crown" ></i> </h4>
                <h4>HRMC Complaint </h4>
                <p>Ensure full HMRC Complaince </p>
            </div>
            <div class="col-lg-4 animate__animated wow animate__fadeInDownBig">
             
              <h4><i  id="icons" class="fas fa-pound-sign icon"></i></h4>
                <h4>Affordable</h4>
                <p>For amazing projects  </p>
            </div>
            <div class="col-lg-4 animate__animated wow animate__fadeInDownBig">
                
                <h4>  <i  id="icons" class="fas fa-handshake icon"></i> </h4>
                <h4>Reliable </h4>
                <p>To aviod problems  </p>
            </div>
        </div>
    </div>
</section>
<!-- icons wla shahskey end  -->


<!-- WHAT ARE MANAGED PAYROLL SERVICES? -->
<div class="mt-5 b py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate__animated wow animate__fadeInDownBig">
                <h4>WHAT ARE MANAGED PAYROLL SERVICES?</h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-7 ">
            <div class="card  icons-color-bg p-5 h-100 animate__animated wow animate__fadeInDownBig">
                <p>Rather than having your own payroll department, you can outsource your payroll responsibilities to a company that specialises in payroll services.</p>

            <p>The third-party provider will manage all aspects of your payroll process; however, in order for them to do so, you must provide them with information about your employees, such as the hours worked and the rate of pay for each pay period.</p>

            <p>It is up to you how much of the payroll process you outsource to a third party; completely outsourcing the process will include many of the functions, such as calculating gross wages, setting up a payroll system, and making any necessary national insurance deductions.</p>
            </div>
            </div>
           <div class="offsetlg-1 col-lg-4 ">
            <div class="card icons-color-bg p-5 animate__animated wow animate__fadeInDownBig">
                <p>It will also ensure that you are in compliance with changing tax and payroll regulations.</p>
            <p>They will be able to print and email payslips, as well as print and send them.</p>
            <p>They can deposit funds into your employees' bank accounts, enter any and all payroll data, prepare and submit tax filings for your employees, and complete and file any other necessary paperwork not listed, including  submissions to HMRC.</p>
            </div>
           </div>
        </div>
        <div class="row mt-3">
            <div class="mx-5 mt-3 col-md-12 ">
                <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
            </div>
        </div>
    </div>
</div>
<!-- WHAT ARE MANAGED PAYROLL SERVICES? end  -->

<!-- ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES? -->
<div class="mt-5 b py-5 ">
    <div class="container">
        <div class="animate__animated wow animate__fadeInDownBig col-lg-12 text-center">
            <h4 class="">ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES?</h4>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6  ">
                <div class="card p-5 animate__animated wow animate__fadeInDownBig  icons-color-bg">
                    <p>The advantages of outsourcing your payroll to a third party to manage your payroll services are numerous.</p>

                    <p>You will immediately notice a financial benefit; payroll companies can often save you money because you no longer need to hire someone, or a team of people, to perform the job.</p>

                    <p>There are additional savings to be made, such as any licencing fees for payroll software, any supplies and equipment, such as perforation machines, ink and paper, printers, and you will not have to pay for ongoing payroll training and development.</p>

                    <p>When you consider outsourcing your payroll to a third-party payroll provider, you will immediately see time and money savings for you and your company. This relieves your employees of the complex administrative duties associated with payroll, allowing them to concentrate on the actual business.</p>

                    <p>There will be additional benefits in terms of increased HMRC compliance and security because you will be outsourcing to an HMRC compliant payroll provider.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-5 icons-color-bg animate__animated wow animate__fadeInDownBig" >
                    <p>It will no longer be your responsibility as a business to keep up with legislative changes in payroll, or to worry about meeting deadlines or ensuring compliance with any local, state, or federal laws in payroll, as this will be handled by a specialist payroll company.</p>

                    <p>Furthermore, because the payroll provider will be managing multiple accounts from various companies, they will ensure that they have cutting-edge encryption, firewalls, and other security devices to protect your and their clients' employees' data.</p>

                    <p>This reduces the risk of theft, security breaches, or fraud while also keeping any data confidential and secure.</p>

                    <p>Even if you hire a third party to process your company's payroll, you will still have oversight and control over the process.</p>

                    <p>You will have complete access and control over the process through reports, payroll software, and, most importantly, access to your payroll manager who can answer any of your questions or deal with any of your employees' questions.</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="mx-5 mt-3 col-md-12 ">
                <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
            </div>
        </div>
    </div>
</div>
<!-- end ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES? -->



<!-- SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES? -->
 <div class="mt-5 b py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-4 animate__animated wow animate__fadeInDownBig">
                <h4>SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-5 icons-color-bg animate__animated wow animate__fadeInDownBig">
                    <p>Managed payroll services can benefit any type or size of business.</p>
                    <p>If your company is large and already has its own in-house payroll department, you will immediately see a savings because you will no longer have to pay wages or benefits to a dedicated payroll team because this will be outsourced at a much lower rate.</p>
                    <p>If you are a medium or small business with 20 or fewer employees, you will also benefit from outsourcing your payroll to a third party.</p>
                    <p>You will gain real value if you are a business owner who handles every aspect of your company's operation.</p>
                    <p>To be in compliance with payroll and tax regulations, you must have extensive experience and knowledge to ensure that no mistakes are made, as mistakes can be costly.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card h-100 p-5 icons-color-bg animate__animated wow animate__fadeInDownBig">
                    <p>If you lack experience or specialised knowledge, you are much more likely to make payroll mistakes, which can result in large penalties and costly fines when dealing with HMRC.</p>
                    <p>When you decide to outsource your payroll services, you will gain the expertise and dedication of payroll specialists.</p>
                    <p>Furthermore, and most importantly, you save time, as the payroll process can be complex, lengthy, and time consuming.</p>
                    <p>This will allow you to concentrate more on the core of your organisation and the expansion of your business.</p>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="mx-5 mt-3 col-md-12 ">
                <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
            </div>
        </div>
    </div>
</div> 
<!-- SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES? end -->

<!-- Payroll Outsourcing -->
<div class="mt-5 b py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-5 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                    <div class="card-title py-2">
                        <h4>Payroll Outsourcing</h4>
                    </div>
                    <div class="card-text ">
                        <p>Payroll can be time-consuming and complicated. It is also one of the most important aspects of your company.</p>
                        <p>Outsourcing your payroll can help you reduce payroll errors while also ensuring accurate pay and compliance with HMRC regulations.
                        </p>
                        <p>People frequently choose to outsource their payroll because it saves them money and time. It reduces errors because our payroll experts have years of experience.</p>

                        <p>If your employees have any payroll questions, our experts can answer them, eliminating the need for you to do it and lowering your company's costs.</p>

                        <p>Our experts can relieve the burden of automatically enrolling your employees in the Auto Enrollment scheme, as well as keep track of their national insurance company and handle any expenses or benefits they may have received.</p>

                        <p>Whether your company employs 5 or 5,000 people, our experts are here to relieve you and your company of the burdens of payroll, making payroll simple and easy for you and minimising any payroll errors that may occur.</p>

                        <p>Please contact us if you would like more information on how we can assist you.</p>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-lg-6">
                <div class="card p-5 h-100 animate__animated wow animate__fadeInDownBig">
                    <div class="card-body">
                        <div class=" py-2 card-title">
                            <h4>Managed Payroll</h4>
                        </div>
                        <div class="card-text">
                            <p>We can help you with your payroll, from fully managed payroll services to a bespoke service that is suited to you and your employees.</p>
                            <p>Whether your company is large or small, we can help and provide fully managed payroll services.</p>
                            <p>Nothing matters more to your employees than receiving their wages on time, every time.</p>
                            <p>Smoothly managed payroll services are necessary for your employees' happiness, and thus productivity.</p>
                            <p>We provide a fully managed payroll service that includes complete HMRC compliance.</p>
                            <p>Dealing with  HMRC can be time consuming and stressful for many people.
                            </p>
                           <p>We will take care of everything, and you will be able to relax knowing that your employees will be paid correctly and on time.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="mx-5 mt-3 col-md-12 ">
                <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
            </div>
        </div>
    </div>
</div>
<!-- Payroll Outsourcing -->


<!-- WHAT HAPPENS NEXT? -->
<div class="b py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center my-3 animate__animated wow animate__fadeInDownBig">
                <h4>WHAT HAPPENS NEXT?</h4>
            </div>
            <div class="row  gx-5 gy-5">
                <div class="col-lg-6">
                    <div class="card icons-color-bg p-5 animate__animated wow animate__fadeInDownBig">
                        <p>It really is that simple: if you choose us to be your payroll service providers, we will manage your payroll completely for you. </p>
                        <p>We only need a few pieces of information from you to set up your payroll services.
                     </p>
                     <p>We will inquire about pay rates, whether they are wages or salaries, and how frequently they are supposed to be paid.</p>
                     <p>We will ask you to fill out a short form with this information so that we can set up your company's payroll and completely manage it for you, eliminating any hassle.</p>
                     </div>
                </div>
                <div class="col-lg-6">
               <div class="card p-5 h-100 icons-color-bg animate__animated wow animate__fadeInDownBig">
                <p>All we will need from you in the future is for you to notify us on each pay day how long each of your employees has actually worked.</p>
                <p>We then calculate their pay and show any tax and National Insurance deductions, which can then be paid to HMRC.</p>
                <p>It couldn't be simpler. </p>
                <p>All of this should relieve you of the burden of payroll, allowing you to focus on other aspects of your business.</p>
               </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="mx-5 mt-3 col-md-12 ">
                    <button class="btn px-5 rounded-pill demo-button border border-success" routerLink="/home" fragment="form">Book A Demo</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- WHAT HAPPENS NEXT? end  -->