<footer class="footer-48201">
      
  <div class="container">
    <div class="row">
      <div class="col-md-4  pr-md-5">
        <a  class="footer-site-logo d-block mb-5">FOREST UMBRELLA </a>
        <p>We’re Not Your Typical Payroll Company We Are Built to Help You Succeed</p>
      </div>
      <div class="col-md">
        <h4 class="">Quick Links</h4>
        <ul class="mt-5 list-unstyled nav-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about" >About Us</a></li>
          <li><a routerLink="/service" >Services</a></li>
        </ul>
      </div>
    
      <div class="col-md">
        <h4>Legal Papers</h4>
        <ul class="mt-5 list-unstyled nav-links">
          <li><a routerLink="privacy" >Privacy Policy</a></li>
          <li><a  routerLink="terms">Terms &amp; Conditions</a></li>
          <li><a  routerLink="modern">Modern Slavery</a></li>
        </ul>
      </div>
      <div class="col-md text-md-center">
        <ul class="social list-unstyled">
          <li><a  ><span class="fa fa-facebook"></span></a></li>
          <li><a href="https://instagram.com/forestumbrella?igshid=YmMyMTA2M2Y=" target="_blank" ><span class="bi bi-instagram"></span></a></li>
          <li><a href="https://twitter.com/umbrella_forest?s=11&t=t2zLE28WfP69zchx9i5Q8w" target="_blank" ><span class=" bi  bi-twitter"></span></a></li>
          <li><a ><span class="fa fa-linkedin"></span></a></li>
        </ul>
        <p class=""><a  class="btn btn-tertiary" routerLink="/home" fragment="form">Contact Us</a></p>
      </div>
    </div> 

    <div class="row ">
      <div class="col-12 text-center">
        <div class="copyright mt-5 pt-5">
          <p><small>&copy; 2022 All Rights Reserved by Forest Umbrella.</small></p>
        </div>
      </div>
    </div> 
  </div>
  
</footer>
