
<section class="text-center b  ">
    <div class="container-fluid  ">
      <div class="row vh-100 align-items-center">
        <div class="">
            <h1 class="main animate__animated wow animate__fadeInDownBig text-white">CONTACT US  </h1>
            <!-- <button class="btn btn-warning rounded-pill">BOOK a DEMO</button> -->
            <h2 class="fw-bold text-white">"ALLWAYS ON THE ROLL"</h2>
        </div>
      </div>
    </div>
</section>

<section class="ftco-section"id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <!-- <h2 class="heading-section">Contact Form #04</h2> -->
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-md-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="contact-wrap w-100 p-lg-5 p-4">
                                <h3 class="mb-4" >Send us a message</h3>
                                <div id="form-message-warning" class="mb-4"></div> 
                          <div id="form-message-success" class="mb-4">
                        Your message was sent, thank you!
                          </div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12"> 
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="button" value="Send Message" class="btn but btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="info-wrap w-100 p-lg-5 p-4 img">
                                <h3>Contact us</h3>
                                <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                        <div class="dbox w-100 d-flex align-items-start">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="text pl-3">
                            <p><span>Address:</span> </p>
                          </div>
                      </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="text pl-3">
                            <p><span>Phone:</span> <a>+ 1235 2355 98</a></p>
                          </div>
                      </div>
                        <div class="dbox w-100 d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-paper-plane"></span>
                            </div>
                            <div class="text pl-3">
                            <p><span>Email:</span> <a >Forestumbrella_@hotmail.com</a></p>
                          </div>
                      </div>
                      <div>
                        <div class="social-media order-lg-last">
                            <p class="mb-0 d-flex">
                              <a  class="d-flex mx-4 align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                              <a  class="d-flex mx-2 align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                              <a href="https://instagram.com/forestumbrella?igshid=YmMyMTA2M2Y=" target="_blank" class="d-flex mx-2 align-items-center justify-content-center"><span class="fa fa-instagram"></span></a>
                              <a  href="https://twitter.com/umbrella_forest?s=11&t=t2zLE28WfP69zchx9i5Q8w" target="_blank" class="d-flex mx-2 align-items-center justify-content-center"><span class="fa fa-linkedin"></span></a>
                            </p>
                          </div>
                      </div>
                        <!-- <div class="dbox w-100 d-flex align-items-center"> -->
                            <!-- <div class="mx-auto icon d-flex align-items-center justify-content-center">
                                <a  class="fa mx-2 fa-linkedin"></a>
                                <a href="https://instagram.com/forestumbrella?igshid=YmMyMTA2M2Y=" target="_blank" class="fa mx-2 fa-instagram"></a>
                                <a class="fa mx-2 fa-facebook"></a>
                                <a href="https://twitter.com/umbrella_forest?s=11&t=t2zLE28WfP69zchx9i5Q8w" target="_blank" class="fa mx-2 fa-twitter"></a>

                            </div> -->
                            <!-- <div class="text pl-3">
                            <p><span>Website</span> <a>yoursite.com</a></p>
                          </div>
                           -->
                      <!-- </div> -->
                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>